.breadcrumb {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;

  &__list {
    @include flexbox(null, center);

    list-style: none;

    &--item {
      &:last-child {
        font-weight: 800;
      }
    }
  }

  &__link,
  &__separator {
    color: $color-grey-75;
  }
}
