.errors {
  color: #cd201f;
  padding: 5px 0px 0px;
  display: block;
  font-size: 12px;
}

.has__error {
  border-color: #cd201f;
  &:hover, &:focus {
    border-color: #cd201f;
  }
}

.pl-32 {
  margin-top: 16px;
}

.ant-table-selection-column {
  span {
    display: none;
  }
}
