.errors {
  color: #cd201f;
  padding: 5px 0px 0px;
  display: block;
  font-size: 12px;
}

.has__error {
  border-color: #cd201f;
  &:hover, &:focus {
    border-color: #cd201f;
  }
}

.m-0 {
  margin: 0;
}

.ant-layout {
  position: relative;
  max-height: 100vh;

  .box-btn {
    width: auto;
    margin: 0 auto;
    padding: 16px;
    background: $color-grey-100;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 24px rgba(50, 50, 71, 0.25);
    border-radius: 2px;

    .btn-delete {
      margin-left: 12px;
      margin-right: 16px;
    }

    .btn-close {
      @include flexbox(center, center);
      width: 16px;
      color: #bfbfbf;
      &:hover {
        color: #31AAF1;
      }
    }
  }
}

.search {
  .form-group {
    margin-bottom: 24px;

    .form-content {
      display: flex;
      align-items: baseline;
      justify-content: center;

      .form-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .note {
          color: $color-grey-75;
          font-weight: 400;
          font-size: 12px;
        }
      }
    }
  }

  .ant-modal-footer {
    form {
      margin: 0 160px;

      .form-content {
        text-align: left;
      }

      .form-label,
      .label-input {
        width: 26%;
      }

      .form-input,
      .ant-checkbox-group {
        width: 100%;
      }
    }
  }
}
