.ant-modal-content {
  border-radius: 5px;
}

.ant-modal-header {
  border-radius: 5px 5px 0 0;
  padding: 12px 24px;

  .ant-modal-title {
    font-weight: 800;
    line-height: 28px;
    font-size: 20px;
  }
}

.ant-modal-body {
  display: none;
  padding: 0;
}

.ant-modal-footer {
  text-align: center;
}

.modal-delete {
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-modal-content {
    width: 380px;
    .ant-modal-footer {
      padding-top: 16px;

      p {
        margin-bottom: 21px;
      }

      .ant-btn-danger:hover {
        color: $color-additional-red-1;
        border-color: $color-additional-red-4;
      }
    }
  }
}
