.u-cursor-pointer {
  cursor: pointer;
}

.u-flex {
  display: flex;
}

.u-justify-end {
  justify-content: flex-end;
}

.u-items-center {
  align-items: center;
}

.u-justify-between {
  justify-content: space-between;
}
