.activity-log{
  .ant-table-wrapper {
    margin-top: 16px;
    .ant-table-content{
      .ant-dropdown-link{
        color: #0070c0;
      }
    }
  }
}

.search-activity-log {
  .ant-modal-footer {
    padding: 16px 182px;

    form {
      width: 100%;
    }

    .form-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 24px;
    }

    .form-label {
      width: 120px;
      text-align: left;
    }

    .form-select {
      text-align: left;
    }
  }
}
