.activity-log {
  .ant-table-wrapper {
    .ant-pagination {
      margin-top: 16px;
    }
    .ant-table-content {
      .ant-table-scroll {
        .ant-table-placeholder {
          height: calc(100vh - 104px);
        }
      }
    }
  }
}

.search-activity-log {
  .ant-modal-footer {
    padding: 16px 140px;

    form {
      width: 100%;
    }

    .form-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 24px;
    }

    .form-label {
      width: 70px;
      text-align: left;
    }

    .form-select {
      text-align: left;
      flex: 1;
      
      .ant-calendar-picker {
        display: unset;
      }
    }
  }
}
