.company-information {
  height: 100%;
  text-align: center;
  padding-top: 32px;
  
  &__empty {
    &-img {
      margin-bottom: 32px;
    }
    
    &-line1 {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 8px;
    }
    
    &-line2 {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 32px;
    }
  }
}

.company-information__addition {
  .ant-tabs-line {
    max-height: 45px;
  }
  .card-common{
    height: calc(100vh - 173px) !important;
  }
  
  &-box-create {
    padding: 24px 32px 0;
    text-align: right;
    text-align: -webkit-right;
    
    .btn-modal {
      width: auto;
      border-radius: 2px;
      text-align: center;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      
      .add-icon {
        margin-right: 10.33px;
      }
    }
  }
  
  .ant-tabs-nav {
    .ant-tabs-tab {
      padding: 12px 20px 12px 0;
    }
  }
  
  .form-create {
    .ant-collapse {
      max-width: 750px;
    
      .ant-collapse-item {
        text-align: right !important;
      
        .ant-collapse-content {
          .ant-collapse-content-box {
            padding: 0 !important;
          }
        }
      }
    }
  
    .line-10 {
      margin-bottom: 0;
    
      .sales-group {
        .ant-input-number-handler-wrap {
          display: none !important;
        }
      
        .ant-input-number-input-wrap {
          input {
            text-align: end !important;
          }
        }
      }
    }
  
    .card-footer {
      margin-top: 24px ;
    
      .btn-delete-danger {
        color: #ff4d4f;
        border-color: #ff4d4f;
        text-shadow: none;
        box-shadow: none;
      
        &:hover {
          background-color: #ff4d4f;
          color: #ffffff;
        }
      }
    }
  
    .sales-group {
      display: flex;
      background-color: #ffffff;
      border: 1px solid #d9d9d9;
      padding: 16px 16px 16px 32px;
      margin-top: 5px;
      max-width: 750px;
    
      p {
        flex: 1;
        margin: 7px 0;
        font-size: 12px;
        line-height: 18px;
      }
    
      .form-input {
        margin-top: 0 !important;
      
        input {
          text-align: end;
        }
      }
    
      .form-select {
        width: 85px;
      }
    }
  
    .container {
      padding: 0;
      margin: 0;
    
      .form-label-line8 {
        span {
          color: #cd201f;
          margin-left: 6px;
        }
      }
    
      .errors {
        color: #ff4d4f;
      }
    }
  
    .upload {
      position: relative;
      margin: 0;
    
      .overlay-loading {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
        background: rgba(255, 255, 255, 0.5);
      
        .ant-spin {
          .ant-spin-dot {
            font-size: 24px;
          }
        }
      
        .spin-loading {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
