.search-deposit {
  .ant-modal-footer {
    display: flex;

    .form-deposit {
      text-align: left;
      padding: 24px;
      border-right: 1px solid $color-grey-55;

      .form-left {
        height: 100%;
        position: relative;

        .form-group,
        .checkbox__input {
          margin-bottom: 16px;
          
          .ant-checkbox-group {
            display: flex;
            flex-direction: column;
          }
        }
        
        .ant-btn {
          position: absolute;
          bottom: 0;
        }
      }
    }

    .table-deposit {
      flex: 1;
      padding: 24px;
      
      .ant-table-wrapper {
        margin-bottom: 36px;
      }
    }
  }
}
