.financing {
  .financing__header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &--top, &--middle, &--bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--top {
      padding: 24px 0 16px;

      .financing__header--wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .form-group {
          margin-right: 32px;
          
          .dropdown-company {
            .ant-select-selector {
              width: 300px;
            }
          }
        }
      }

      .btn-download {
        border: none;
        background: transparent;
        padding: 0;

        &::before {
          background-color: transparent;
        }
      }
    }

    &--middle {
      .ant-tabs {
        width: 100%;
        height: 46px;

        &-nav {
          .ant-tabs-tab {
            padding: 12px 0;
          }
        }
      }
    }

    &--bottom {
      padding: 12px 0;

      .form-select-bank {
        margin-right: 24px;

        .ant-select {
          min-width: 340px;
        }
      }

      .form-select-currency {
        .ant-select {
          min-width: 81px;
        }
      }
    }
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .form-label {
      margin-right: 8px;
    }
  }

  .form-select {
    .ant-select {
      min-width: 77px;
    }
  }

  .box-utilities {
    padding: 16px 32px;
    text-align: right;
  }

  .ant-pagination.mini {
    display: none;

    .ant-pagination-item {
      margin: 0 2px;
    }
  }
}

.ant-tooltip-content {
  .ant-table-fixed-columns-in-body {
    background-color: inherit;
  }

  .ant-tooltip-arrow-content {
    background: #fff;
  }

  .ant-tooltip-inner {
    background: #fff
  }
}

#financing__table {
  td {
    white-space: nowrap;
  }

  .ant-table-content {
    border: none;

    .ant-table-row {
      .ant-dropdown-link {
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }

      .disabled-click {
        .ant-dropdown-link {
          cursor: unset;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .text--red {
        color: #F5222D;

        .icon-warning {
          display: none;
        }
      }

      .text--warning {
        position: relative;
        padding: 6px 0;

        .icon-warning {
          position: absolute;
          right: 0;
          top: -6px;
        }
      }
    }

    span.ant-table-column-title {
      top: 3px;
      position: relative;
    }
  }

  .ant-table-thead tr th:first-child {
    padding-left: 32px;
  }

  .ant-table-thead tr th:last-child {
    padding-right: 32px;
  }

  .ant-table-tbody .ant-table-row td {
    padding-top: 16px;
    padding-bottom: 14px;

    &:first-child {
      padding-left: 32px;
    }

    &:last-child {
      padding-right: 32px;
    }
  }


}
