.financing {
  .ant-pagination.mini .ant-pagination-item {
    margin: 0 2px;
  }
}

.search-financing {
  .ant-modal-footer {
    padding: 16px 182px;
  }

  .form-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;

    .form-label {
      width: 120px;
      text-align: left;
    }
  }
}
