.financing {

  .btn-download {
    display: flex;
    align-items: center;
    margin: 25px 32px 0 auto;
    padding: 0 10px;

    &-icon {
      margin-right: 10px;
    }
  }

  .box-utilities {
    padding: 16px 32px;
    text-align: right;
  }

  .ant-pagination.mini .ant-pagination-item {
    margin: 0 2px;
  }
  .ant-table-content {
    .ant-table-row {
      .text--red {
        color: #F5222D;
      }
    }
  }
}

.search-financing {
  .ant-modal-footer {
    padding: 16px 182px;
  }

  .form-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;

    .form-label {
      width: 120px;
      text-align: left;
    }

    .form-select {
      text-align: left;
    }
  }
}
