.search-account {
  .form-group {
    margin-bottom: 24px;

    .form-content {
      display: flex;
      align-items: baseline;
      justify-content: center;

      .form-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .note {
          color: $color-grey-75;
          font-weight: 400;
          font-size: 12px;
        }
      }
    }
  }

  .ant-modal-footer {
    padding: 16px 171px;

    .form-content {
      text-align: left;
    }

    .form-label,
    .label-input {
      width: 34%;
    }

    .form-input,
    .ant-checkbox-group {
      width: 100%;
    }
  }
}

.account-wrap{
  .box-btn{
    .btn-delete {
      margin-right: 12px;
    }
    .btn-reset {
      margin-right: 12px;
    }
  }
  .modal-actions__close-btn svg {
    color: #BFBFBF;
  }
}
