.subcategory {
  .box-create {
    padding: 24px 32px 0;
    text-align: right;
    text-align: -webkit-right;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .btn-modal {
      width: auto;
      border-radius: 2px;
      text-align: center;
      display: flex;
      align-items: center;

      .add-icon {
        margin-right: 10.33px;
      }
    }

    .bnt-back {
      width: auto;
      border-radius: 2px;
      text-align: center;
      display: flex;
      align-items: center;
      border: 0;
      color: #808080;
      background-color: transparent;
      padding: 0;

      .arrow-icon {
        transform: rotate(270deg);
      }

      span {
        line-height: normal;
        margin-top: 3px;
      }
      
    }

    .bnt-back:hover {
      width: auto;
      border-radius: 2px;
      text-align: center;
      display: flex;
      align-items: center;
      border: 0;
      color: #1890ff;
      background-color: transparent;

      .arrow-icon {
        transform: rotate(270deg);
      }
    }
  }
}
