.ant-table {
  font-size: 12px;

  th {
    white-space: nowrap;
  }
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 14px 16px;
  border-bottom: 1px solid $color-grey-85;
}

.ant-table-thead > tr > th {
  font-weight: 800;
  line-height: 18px;
}

.ant-table-thead > tr > th.ant-table-selection-column,
.ant-table-tbody > tr > td.ant-table-selection-column {
  padding-left: 32px;
  margin-right: 32px;
}

.ant-table-tbody > tr > td {
  color: $color-grey-15;
  line-height: 18px;
}

.ant-table-row-level-1 .ant-table-selection-column .ant-checkbox-wrapper {
  display: none;
}
