.main {
  height: 100vh;
  background-color: $color-grey-98;

  &__content {
    margin-left: 232px;
    transition: all 0.3s ease-in-out;
  }

  .aside.is-collapse + &__content {
    margin-left: 66px;
  }
}
